In [41]:
import pandas as pd
import numpy as np

bc_df = pd.read_csv('../data/raw/hs_futures/HS_1m_all.csv')
bc_df

,Time,Open,High,Low,Latest,Change,%Change,Volume
0,2024-01-02 00:00:00,16825.0,16838.0,16824.0,16838.0,12.0,+0.07%,262.0
1,2024-01-02 00:01:00,16837.0,16840.0,16826.0,16830.0,-8.0,-0.05%,196.0
2,2024-01-02 00:02:00,16829.0,16829.0,16818.0,16821.0,-9.0,-0.05%,190.0
3,2024-01-02 00:03:00,16821.0,16824.0,16809.0,16810.0,-11.0,-0.07%,386.0
4,2024-01-02 00:04:00,16809.0,16814.0,16806.0,16807.0,-3.0,-0.02%,230.0
...,...,...,...,...,...,...,...,...
486913,2026-02-13 12:55:00,26566.0,26568.0,26565.0,26568.0,-1.0,0.00%,8.0
486914,2026-02-13 12:56:00,26570.0,26572.0,26569.0,26569.0,1.0,0.00%,11.0
486915,2026-02-13 12:57:00,26564.0,26566.0,26552.0,26553.0,-16.0,-0.06%,24.0
486916,2026-02-13 12:58:00,26551.0,26555.0,26548.0,26552.0,-1.0,0.00%,26.0
486917,2026-02-13 12:59:00,26550.0,26560.0,26550.0,26560.0,8.0,+0.03%,23.0

In [24]:
bc_df['Time'] = pd.to_datetime(bc_df['Time'])
bc_df['Date'] = bc_df['Time'].dt.strftime('%Y-%m-%d')
bc_df.groupby('Date').last().iloc[-10:]
bc_df = bc_df.set_index('Time')

In [18]:
from linux_xbbg import blp

df = blp.bdib('HIG6 Index', dt='2026-02-12', typ='TRADE', session='day', ref='HSI Index').droplevel(0, axis=1)

In [21]:
df.index = df.index.tz_convert('America/New_York').tz_localize(None)

In [38]:
merged = df[['volume']].merge(bc_df[['Volume']], left_index=True, right_index=True, how='inner')

In [ ]:
merged.iloc[100:]

                     volume  Volume
2026-02-11 20:31:00     580   384.0
2026-02-11 20:32:00     456   160.0
2026-02-11 20:33:00     423   200.0
2026-02-11 20:34:00     248   189.0
2026-02-11 20:35:00     516   266.0
...                     ...     ...
2026-02-12 02:25:00     102    97.0
2026-02-12 02:26:00      53    98.0
2026-02-12 02:27:00      47    82.0
2026-02-12 02:28:00      31   176.0
2026-02-12 02:29:00      38   229.0

[242 rows x 2 columns]